version: '3.8'
services:
  silvahnos-fe:
    container_name: silvahnos-fe
    image: luistoro17/silvahnos-fe:latest
    ports: 
      - 3000:3000
  mysql-db:
    container_name: mysql-db
    image: mysql
    restart: always
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: silvahnos
      DB_DIALECT: MySQL8Dialect
    ports:
      - 3307:3306
  app:
    container_name: silvahnos-be
    image: luistoro17/silvahnos-be:latest
    ports:
      - '8090:8090'
    environment:
      - DB_URL=jdbc:mysql://mysql-db:3306/silvahnos?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - DB_USERNAME=root
      - DB_PASSWORD=password
    deploy:
      restart_policy:
        condition: on-failure
    depends_on:
      - mysql-db
volumes:
  mysql-data:
